@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import 'tailwindcss';

@theme{--font-hand:"Permanent Marker", "sans-serif"}

body {
    background-image: url("/table.jpg");
    background-repeat: repeat;
    background-size: 256px 256px;
}